@keyframes rotate {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

@keyframes scale {
	from {
		scale: 1
	}
	to {
		scale: 1.25;
	}
}

.blobContainer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;

	.blob {
		height: 40vmax;
		aspect-ratio: 1;
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		border-radius: 50%;

		background: linear-gradient(to right, var(--primary), var(--secondary));
		animation: rotate 8s infinite, scale 8s infinite ease-in-out alternate-reverse;
		opacity: 0.8;
	}

	.blur {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		backdrop-filter: blur(10vmax);
	}
}
