
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-bottom: 1rem;
  z-index: 2;

  @media (height < 665px) {
    display: none;
  }
}